@charset "utf-8";
/* CSS Document */

@import url("normalize.css");
@import url('https://fonts.googleapis.com/css?family=Anton|Open+Sans');


//Variables
$anton: 'Anton', sans-serif;
$oswald: 'Open Sans', sans-serif;

$primary-color: #8f8d8f;
$secondary-color: #d8d8d8;
$accent-color: #00aeef;
$white: #eeeeee;

$link-color: #00aeef;
$hover-link-color: blue;

//Normalize
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html, body {
  min-height:100%
}

*,*:before,*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

h1,h2,h3,h4,p,blockquote,figure,ol,ul {
  margin: 0;
  padding: 0;
}

li {display: block;}

span {display: block;}

p {max-width: 45rem;  line-height: 1.5;}

strong {font-weight: bold;}

a,button {transition: .3s;}

a {text-decoration: none;}

header,main,section,footer {
  display: block;
  position: relative;
  width: 100%;
}

body { 
  font-size: 18px; 
  font-family: $oswald;
}

//* styles *//

body { background: #eaeaea; margin: 0px auto; font-family: 'Oswald', sans-serif; color:#777; width: 100%; font-size: 18px ; display: flex;	flex-flow: column wrap;}
h1 { font-size: 4em; font-family: 'Anton', sans-serif; margin: 10px 0px; padding: .75vw 0; }
h2 { font-size: 9vh; color: #333; margin: 10px 0px; padding: .75vw 0; }
h3 { font-size: 2em; color: #333; margin: 10px 0px; padding: .75vw 0; }
p { font-size: 1em; margin: 0px; padding: 2vh 0;}
a { text-decoration: none; color: #00aeef;  }
a, button {transition: .3s;}
span {font-family: 'Oswald', sans-serif;}
img {width:100%;}

/* Mobile First */

header, main, section, footer {
  display: block;
  position: relative;
  width: 100%;
}
.skip-to-main {
  padding: 1rem;
  display: block;
  position: absolute;
  background-color: $white;
  left: -9rem;
  &:focus{
    top: 0;
    left: 0;
    z-index: 10;
  }
}

.bg1 {background: url(../images/backgrounds/bg2.gif);}
.bg2 {background: url(../images/backgrounds/bg3.gif) ;}
.bg3 {background: url(../images/backgrounds/bg6.gif) ;}
.bg4 {background: url(../images/backgrounds/bg8.gif) ;}
.bg1, .bg2, .bg3, .bg4 {
	  background-position: center center;
	  background-repeat: no-repeat;
	  background-size: cover;
	  background-attachment: fixed;
}


.skip-to-main {
  padding: 1rem;
  display: block;
  position: absolute;
  background-color: $white;
  left: -9rem;
  &:focus{
    top: 0;
    left: 0;
    z-index: 10;
  }
}

.header {
  height: 11vh;
  background-color: black;
  background: linear-gradient(to bottom, #111111, black);
  color: white;
  position: fixed;
  z-index: 5;
  .container {
    display: flex;
    flex: row nowrap;
    justify-content: space-between;
  }
}

.hero {
  color: white;
  background-color: #333333;
  position: relative;
  text-align: center;
  min-height:100vh;
  &:before {
    content: "";
    background-color: rgba(0,0,0,.35);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }  
  .container {
    padding: 20vh 1.5rem 4rem 1.5rem;
    position: relative;
    z-index: 2;
    .headline, .lede { 
      margin-bottom: 1rem;       
      text-shadow: 2px 2px 5px black;
     }
    .headline {
      font-size: 4rem;
    }
    .button-row { 
      display: flex;
      justify-content: space-between;
      margin-top: 4.5rem;
      .button { width: 48%; }
    }
  }
}

.footer {
  height: 7vh;
  background-color: black;
  background: linear-gradient(to top, #111111, black);
  color: $white;
  .container {
    display: flex;
    justify-content: space-around;
  }
}

.container {
  max-width: 48rem;
  padding: 1rem 1.5rem;
  margin: 0 auto;
}

.logo {
  display: flex;
  flex-flow: row nowrap;
  font-family: $anton;
  color: $white;
  .longform {
    font-family: $oswald;
    &:before {
      content:"";
      border-right: 1px solid $white;
      padding-right: .75rem;
      margin-right: .75rem;
    }
  }
}

.main-nav {
  .nav-items {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row wrap;
    justify-content: space-between;
    > li {
      a {
        color: $white;
        padding: 1rem;
        &:hover, &:focus {
          color: black;
          background: $white;
        }
      }
      &:after{
        border-right: 1px solid $white;
      }
    }
  }
}
#menu {
    position: fixed;
    z-index:4;
    top: 0;
    bottom: 0;

    display: table;
    visibility: hidden;
    width: 100%;
    height: 100%;

    font-family: $oswald, san-serif;

    transition: opacity .5s, visibility .5s;
    text-align: center;

    opacity: 0;
    background-color: rgba(0, 0, 0, .85);
}
.open #menu {
    visibility: visible;

    opacity: 1;
}
#menu ul {
    display: table-cell;
    padding: 0;
    margin-top: 30px;

    list-style: none;

    vertical-align: middle;
}

#menu ul li a {
    display: block;

    font-size: 28px;
    font-weight: 100;
    line-height: 80px;

    -webkit-transition: all .3s ease;
       -moz-transition: all .3s ease;
         -o-transition: all .3s ease;
            transition: all .3s ease;
    text-decoration: none;

    color: #fff;
}
#menu ul li a:hover {
    font-size: 30px;
}
header {
	button,
	input[type="button"] {
		border: none;
		border-radius: 0;
		background: #000;
		color: #fff;
	  	cursor: pointer;
		display: inline-block;
		text-transform: uppercase;
		transition: all 0.25s ease-in-out;
	}

	.menu-toggle {
	  font-size: 0.75em;
	}
	.menu-toggle:focus {
		outline: thin dotted;
	  outline-offset: -2px;
	}

	.icon {
		display: inline-block;
		fill: currentColor;
		height: 1em;
		width: 1em;
		vertical-align: middle;
		position: relative;
		top: -0.0625em;
	}

	.icon-menu-toggle {
		width: 2em;
		height: 2em;
	  top: 0;
	}

	.svg-menu-toggle .line {
	  opacity: 1;
	  transform: rotate(0) translateY(0) translateX(0);
	  transform-origin: 1em 1em;
	  transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
	}
	.svg-menu-toggle .line-1 {
	  transform-origin: 1em 2.5em;
	}
	.svg-menu-toggle .line-3 {
	  transform-origin: 1em 4.5em;
	}

	.menu-toggle.opened .svg-menu-toggle .line-1 {
	  transform: rotate(45deg) translateY(0) translateX(0);
	}
	.menu-toggle.opened .svg-menu-toggle .line-2 {
	  opacity: 0;
	}
	.menu-toggle.opened .svg-menu-toggle .line-3 {
	  transform: rotate(-45deg) translateY(0em) translateX(0em);
	}

	.screen-reader-text {
		clip: rect(1px, 1px, 1px, 1px);
		position: absolute !important;
		height: 1px;
		width: 1px;
		overflow: hidden;
	}
}


//Typography
h1 {font-size: 3rem; line-height: 1.777;}
h2 {font-size: 2.625em; line-height: 1.7;}
h3 {font-size: 2.250rem; line-height: 1.333;}
h4 {font-size: 2rem; line-height: 1.344;}
h5 {font-size: 1.750em; line-height: 1.357;}
h6 {font-size: 1.500rem; line-height: 1.375;}

.headline {font-family: $anton;}
.lede {font-size: 1.313rem; line-height: 1.381;}
.small {font-size: .9rem;}
.postscript {font-size: 1rem; margin-top: 3rem;
  a { 
    color: white;
    border-bottom: 2px solid white;
    &:hover {
      border-bottom: 4px solid white;
      transition: .3s;
    }
  }
}
//Buttons
.button {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: .75rem 1.5rem;
  border-radius: 8px;
  &.primary {
    border: 2px solid $white;
    background-color: $white;
    color: black;
    font-family: $oswald;
    &:hover, &:focus {
      border: 2px solid $primary-color;
      color: white;
      background-color: $primary-color;
    }
    &.accent {
      border: 2px solid $accent-color;
      background-color: $accent-color;
      color: white;
      &:hover, &:focus {
        border: 2px solid lighten($accent-color, 10%);
        background-color: lighten($accent-color, 10%);
      }
    }
  }
  &.secondary {
    border: 2px solid $white;
    color: white;
    font-family: $oswald;
    &:hover, &:focus {
      color: black;
      background-color: $white;
    }
  }
}
//*
#portfolio div {
    padding: 0;
}
.port-container {
  width:100%;
  margin: 0 auto;
  background-color:#000;
  overflow:hidden;
  
}
.port-item  {
  width:100%;
  max-height:30em;
  position:relative;
  float:left;
  overflow:hidden;
  a:hover, a:focus {
    .port-image {
      transform: scale(1.1);
      opacity:.5;
    }
    .port-caption{
      opacity:1;
    }
  }
}
.port-image {
  width:100%;
  opacity:.5;
  transition: all .7s ease-out, opacity .7s ease;
}

.port-caption {
  position:absolute;
  z-index: 1;
  text-align:center;
  top:0;
  left:0;
  right:0;
  font-size:1.25em;
  opacity:1;

  p {
  	color:#eee;
  	margin: 1vh;
  }
}
#talk .container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
        align-items: center;
     p {
    margin: 0 auto;
}
}


/* TAB screens */
@media all and (min-width: 650px) {

.header {
  height: auto;
}
#portfolio {
	display:block;
	background-color: #d8d8d8;
padding-bottom: 3rem;
}
.port-item  {
  width:50%;
}
.port-caption {
	font-size:2.5em;
	opacity:0;
	transition: all .7s ease-out, opacity .7s ease;
  p {
  	margin: 1em;
  }
  
}
.port-image {
  opacity:1;
  transition: all .7s ease-out, opacity .7s ease;
}

} 
   
/* Desktop */
@media all and (min-width: 1000px) {

}

/* Animation stuff */
.scroll-in {
  opacity:0
}
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 
.fade-in {
  opacity:0;  
  -webkit-animation:fadeIn ease-in 1;  
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards; 
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}
